.taskInput {
  display: flex;
}

.taskInput > input {
  flex: 1;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--gray-100);
  line-height: 1.4;
}

.taskInput > input:focus {
  border: 1px solid var(--purple-400);
  box-shadow: none;
}

.taskInput > button {
  display: flex;
  align-items: center;
  background-color: var(--blue-600);
  border-radius: 0.5rem;
  border: 0;
  margin-left: 0.5rem;
  padding: 1rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.1s;
}

.taskInput > button:hover {
  background-color: var(--blue-400);
}

.taskInput > button svg {
  margin-left: 0.5rem;
}
