.task {
  display: flex;
  align-items: flex-start;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  gap: 0.75rem;
}

.taskContent {
  flex-grow: 1;
  font-size: 0.875rem;
  color: var(--gray-100);
  line-height: 1.4;
}

.taskContentCompleted {
  composes: taskContent;
  color: var(--gray-300);
  text-decoration: line-through;
}

.check {
  display: block;
  width: 17.45px;
  height: 17.45px;
  background-color: transparent;
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.check:hover {
  border-color: var(--blue-600);
  background-color: rgba(30, 111, 159, 0.2);
}

.checked {
  composes: check;
  position: relative;
  background-color: var(--purple-400);
  border-color: var(--purple-400);
}

.checked::after {
  position: absolute;
  content: "";
  background-image: url("../assets/check.svg");
  width: 10px;
  height: 7px;
  top: 4px;
  left: 2px;
}

.checked:hover {
  background-color: var(--purple-300);
  border-color: var(--purple-300);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  color: var(--gray-300);
  cursor: pointer;
  transition: all 0.2s;
}

.delete:hover {
  color: var(--red-200);
  background-color: var(--gray-400);
}
